#prompter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#prompter {
  margin-inline: auto;
  padding: 0 8rem;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 640px) {
  #prompter {
    padding: 0 1.25rem;
    font-size: 1rem;
  }
}

#prompter .readable {
  border: 1px solid red;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem 0;
}

#prompter h4 {
  margin: 1rem 0;
}

#prompter .away {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem 0;
}
